# Torch, CPU only, for Python 3.6/3.7 and for Windows/Linux (both 64 bit). We have not tested support for MacOS but it
# should be easy to add with 'sys_platform == 'darwin''.
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp37-cp37m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.7'
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp36-cp36m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.6'
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp37-cp37m-linux_x86_64.whl; sys_platform == 'linux' and python_version == '3.7'
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp36-cp36m-linux_x86_64.whl; sys_platform == 'linux' and python_version == '3.6'
# End torch

faiss-cpu==1.6.4.post2
flair==0.7
flask==1.1.1
googledrivedownloader==0.4
gunicorn==20.0.4
networkx==2.5
pandas==0.25.3
segtok==1.5.10
scikit-learn==0.21.3
transformers==3.5.1 # This is constrained by flair. Do not upgrade
